<footer>
  <div class="footer-content">
    <p>© 2026 Orienteering Club. All Rights Reserved.</p>
    <div class="social-media">
      <a href="https://www.instagram.com/ytuoryantiring/" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/instagram.png" alt="Instagram" class="footer-icon"> Instagram
      </a>
      <a href="https://www.youtube.com/@ytuoryantiring" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/youtube.png" alt="YouTube" class="footer-icon"> YouTube
      </a>
    </div>
  </div>
</footer>