<header>
    <div class="navbar-logo">
        
        <a href="index.html"> <img src="assets\images\logo.png" width="35px"> YTU Oryantiring</a>
    </div>
    
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="equipment.html">Equipment</a></li>
            <li><a href="quiz.html">Quiz</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="maps.html">Maps</a></li>
            <li><a href="membership.html">Membership</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        
        <button class="hamburger-menu" aria-label="Toggle navigation menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>