<header>
  <div class="navbar-logo">
    <a href="index.html">
      <img src="assets/icons/logo.png" alt="YTU Logo" class="nav-logo-img" />
      YTU Oryantiring</a
    >
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="equipment.html">Equipment</a></li>
      <li><a href="sponsorship.html">Sponsorship</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <button class="hamburger-menu" aria-label="Toggle navigation menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</header>
